body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.container {
  text-align: center;
  padding: 20px;
}



.programs {
  color: #000000;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.program-card {
  
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.199);
  padding: 20px;
  transition: transform 0.2s;
}

.program-card:hover {
  transform: translateY(-5px);
}

.apply-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #1093ff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.apply-button:hover {
  background-color: #008cff;
}
