body {
  margin: 0;
  padding: 0;
  
}

.nav-up-color {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
  position: fixed;
  /* padding-top: 20px; */
  top: 0rem;
  width: 100%;
  text-align: center;
  text-decoration-color: #ffffff;
  background-color: #ff0000; 
  height:2rem;
  z-index: 0;
}
.Nav-up-color-title{
font-size:17px ;
margin-top: 4px;
margin-right: 10px;
}
.Whatsapp{
height: 60px;
/* width: 40px; */
/* padding: 10px; */
margin-top: 480px;
margin-left: 290px;
position: fixed;
transition: height 0.3s ease; /* Smooth transition effect */
transform: translateX(-20%); /* Start the image off-screen to the left */
  transition: transform 0.9s ease; 
}
.Whatsapp:hover{
  height: 66px;
  color: #008dce;
  transform: translateX(0);
}
.element{
  margin-right: 50px;
}

.element-media{
transform: none;
  align-items: right;
  margin-left: 10px;
  color: #ffffff;

}


.logo {
  position: absolute;
  z-index: 101;
}

.logo img {
  width: 9rem;
  height: auto;
  margin-left: 3rem;
  margin-top: 0rem;
  border-radius: 11px;
  z-index: 1000;
}

.navbar {
  position: fixed;
  top: 2rem;
  z-index: 200;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
  box-shadow: none;
  color: black;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
  
}

.scrolled {

  background: linear-gradient(to top, #ffffff, #fffffff6, #008dce); 
  color: rgb(0, 0, 0);
  border-top: 1px solid black;
  border-bottom: 1px solid rgb(46, 136, 253);
  box-shadow: 1px 10px 10px rgba(0, 174, 255, 0.589);
}

.navbar ul {

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 10px;
  padding-top: 0;
  display: flex;
  align-items: center;
}

.active-link {
  color: #0084ff !important;
  font-weight: bold;
  border-radius: 1px;
  /* border:1px rgb(0, 89, 255) solid; */
  /* background-color: #246cf3; */
    /* text-decoration: line-through; */
  /* height: 2.5rem;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%; */
}

.navbar .dropdown-nav:hover {
  width: auto;
  color: #ffffff;
  background-color: #246cf3;
}

.navbar ul li a:hover {
  color: #246cf3;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: #1093ff;
  cursor: pointer;
  padding: 10px;
}


/* Dropdown Styling */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #acdeff;
  z-index: 1;
  left: 0;
  top: 25px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  width: 14rem;
  border: 1px solid #1093ff   ;
  justify-content: center;
}

.dropdown-content li {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
  margin: 0;
  padding: 0;
}

.dropdown-content li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  align-items: center;
  display: flex;
  align-items: center;
}

.dropdown-content li:last-child {
  border-bottom: none;
}

.navbar ul li:hover .dropdown-content {
  display: block;
  height: fit-content;
  opacity: 1;
  visibility: visible;
}

.nav-links-container {
  display: flex;
  align-items: center;
  margin-left: 18rem;
}

.nav-register-button {
  margin-left: 4.5rem;
  align-items: center;
  justify-content: center;
}

.nav-register-button button {
  font-size: 1rem;
  background-color: #1093ff;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-register-button button:hover {
  background-color: #6f79ff0c;
  border: 1px solid #222222;
  color: #008cff;
}


@media (max-width: 768px) {
  .navbar {
      display: flex;
      flex-direction: column;
      align-items: right;
      background-color: #ffffff;
      width: 100%;
      height: 10%;
      top: 0;
  }

  .navbar ul {
      display: none;
      flex-direction: column;
      width:fit-content;
      background-color: #fcfcfc;
      padding: 0;
      justify-content: right;
  }

  .navbar ul.active {
      display: flex;
      flex-direction: column;
      align-items: right;
  }

  .navbar ul li {
      width: 100%;
      text-align: left;
  }

  .navbar ul li a {
      padding: 10px;
      display: block;
      align-items:left;
  }

  .dropdown-content {
      position: static;
      width: 100%;
      border: 1px solid rgb(124, 124, 124);
      text-align: left;
  }

  .dropdown-content li a {
      padding: 1px;
      width: 100%;
      text-align:left;
      background-color: #effbff;
  }

  .Whatsapp{
    height: 60px;
    /* width: 40px; */
    /* padding: 10px; */
    margin-top: 650px;
    margin-left: 300px;
    /* position: fixed; */

    
    }
    .Whatsapp:hover{
      height:66px;
      transform: none;
    }


  .menu-icon {
      display: block;
      cursor: pointer;
      font-size: 2rem;
      color: rgb(0, 118, 228);
      margin: 5px;
      justify-content:first baseline;
      align-self:first baseline;
      margin-right: 2rem;
  }

  .nav-links-container {
      margin-left: 0rem;
  }

  .logo img {
      width: 8rem;
      margin-left: -22rem;
      align-items: left;
      margin-top: 1.3rem;
  }

  .nav-register-button {
      display: none;
  }
  .nav-up-color{
    display: none;
  }
 

}


@media (max-width: 468px) {
  .logo img {
    
      margin-left: -10rem;
      align-items: left;
      margin-top: 1.3rem;
  }
  .nav-up-color{
    display: none;
  }
  .navbar{
    top: 0;
  }
}