/* General page styling */
.app-container {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #d5f2fff6, #fffffff6, #83d6fcf6);
}

h1 {
  font-family:serif;
  color:#1093ff; /* Makes the text stand out */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
  font-weight: bold;
  text-align: center;}
/* Cards container layout */
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

/* Single card styling */
.card {
  background-color: #5cb4fc;
  border: 1px solid #242424;
  border-radius: 10px;
  width: 300px;

  padding: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  background-color: #ffffff;
  align-content: center;
  width: 120px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-size: 1.5rem;
  color: rgb(0, 93, 180);
  margin-bottom: 10px;
}

.card-content p {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Button styling */
.card-button {
  background-color: #004fb6;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #89d2fc;
  color: #313131;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
