.services-timeline-container {
  padding: 80px 20px;
  background-color: #7fbbff;
  font-family: "Arial", sans-serif;
}

.services-heading {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 20px;
}

.timeline-content {
  background: rgb(247, 253, 255);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.timeline-content h2 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
