body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #9ee3ff;
}

.course-container {
  text-align: center;
  padding: 20px;
  position: relative;
}

.course-programs {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  gap: 15px;
  scroll-behavior:inherit; /* Smooth scrolling for touch events */
  padding: 10px 0;
}

.course-program-card {
  background: linear-gradient(to bottom, #ffc4c469, #ffffff, #028ac046);
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.199);
  padding: 20px;
  min-width: 230px;
  transition: transform 0.2s;
  border: 2px solid rgb(18, 129, 255);
}

.course-program-logo {
  width: 110px;
  height: auto;
  border-radius: 2rem;
}

.course-apply-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  color: white;
  background-color: #008cff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.course-apply-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.course-head2 {
  color: #008cff;
}

/* Carousel Buttons */
.course-carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.course-carousel-button.course-left {
  left: 0;
}

.course-carousel-button.course-right {
  right: 0;
}

/* Touch Scrolling Tweaks */
.course-programs {
  -webkit-overflow-scrolling: touch; /* Enables smooth touch scrolling on iOS */
}

.course-program-card:hover {
  transform: translateY(-5px);
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 768px) {
  .course-program-card {
    width: 300px;
  }
}
